h1{
    color: rgb(25, 47, 120);
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}
img, div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#email, #number{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
p{
    text-align: center;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    background-color: rgb(133, 11, 42);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding:6px;
    border-radius: 10px;
}